<h2>contacto</h2>

<form #formContacto="ngForm" (ngSubmit)="onSubmit(formContacto)">
  <label for="nombre">Nombre</label> <br />
  <input type="text" name="nombre" #nombre="ngModel" [(ngModel)]="contactousuario.nombre" required
    pattern="[a-zA-Z]+" /> <br />

  <span *ngIf="nombre.touched && !nombre.valid">
    El nombre es obligatorio!!
  </span>
  <br />
  <label for="apellidos">Apellido</label> <br />
  <input type="text" name="apellidos" #apellidos="ngModel" [(ngModel)]="contactousuario.apellidos" required /> 
  
  <span *ngIf="nombre.touched && !nombre.valid">
    El email no es valido!
  </span> <br />

  <span *ngIf="apellidos.touched && !apellidos.valid">
    El apellido es obligatorio!!
  </span>

  <label for="email">Email</label> <br />
  <input type="email" name="email" #email="ngModel" [(ngModel)]="contactousuario.email" required />
  <br />

  <label for="mensaje">Mensaje</label> <br />
  <textarea name="mensaje" #mensaje="ngModel" [(ngModel)]="contactousuario.mensaje" required></textarea>
  
  <span *ngIf="mensaje.touched && !mensaje.valid">
    El mensaje es obligatorio
  </span>

  <input type="submit" value="enviar" /> <br />
</form>